%div{:id  => "content", :class  => "grid_16"}
  %div{:class  => "grid_5 alpha"}
    %h2{:class  => "underline"}
      Sabor a tango
    %a{:href => "/img/content/sabor-aviso-1.JPG", :rel => "lightbox", :title => "Haciendo click en Reserve Ahora, y hospedándose  un mínimo de 3 noches, usted disfrutara del show de Tango sin Costo en SABOR A TANGO (bebidas no incluidas en estra promoción). Importante: Promoción valida desde el 22/12/2011 hasta el 26/02/2012"}
      %img{:src => "/img/content/sabor-aviso-1.JPG",:class => "no-bm", :width => "279", :height => "131"} 
    %div{:class => "detail"}
      %img{:src => "/img/content/view.png"}
      %p
        Hospendadose 3 noches usted disfrutara del show sin costo en SABOR A TANGO (bebidas no incluidas).
  %div{:class  => "grid_5 center-box featured-box"}
    %h2{:class  => "underline"}
      Consulte disponibilidad y tarifas
    %a{:href  => "/img/content/imperial-park-rooms/IMG_8626-2.jpg", :rel  => "lightbox-rooms"}
      %img{:src  => "/img/content/imperial-park-hotel-rooms.jpg", :alt  => "Imperial Park Hotel rooms", :class  => "no-bm"}
    %div{:class => "detail"}
      %img{:src  => "/img/content/bell.png"}
        %p
          Ofrecemos 50 Habitaciones Standard y 20 Suites.
  %div{:class  => "grid_5 omega featured-box"}
    %h2{:class  => "underline"}
      360 view from the hotel
    %a{:href  => "#"}
      %img{:src  => "/img/content/imperial-park-hotel-views.jpg",:class  => "no-bm"}
    %div{:class  => "detail"}
      %img{:src  => "/img/content/view.png"}
      %p
        Una foto que gira 360 con la ubicación del Hotel.
        %a{:href  => "http://360-bue.com.ar/iph",:target  => "_blank", :class  => "button"}
          360 View

= partial :rooms_images, :skip_translation  => true 
