%div{:id  => "content", :class  => "grid_16"}
  %div{:class  => "grid_5 alpha"}
    %h2{:class  => "underline"}
      A taste of Tango!
    %a{:href => "/img/content/sabor-aviso-1.JPG", :rel => "lightbox", :title => "Imperial Park Hotel offers you an excellent opportunity during the summer to learn the best tango of Argentina. Stay 3 nights to enjoy the show SABOR A TANGO for free (drinks not included).<br/> Note: Promotion valid from 22/12/2011 to 29/02/2012, excluding New Year's Eve night"}
      %img{:src => "/img/content/sabor-aviso-1.JPG",:class => "no-bm", :width => "279", :height => "131"} 
    %div{:class => "detail"}
      %img{:src => "/img/content/view.png"}
      %p
        Stay 3 nights and get FREE tickets to hot dance show "Sabor a Tango"
  %div{:class  => "grid_5 center-box featured-box"}
    %h2{:class  => "underline"}
      Rate and Availability 
    %a{:href  => "/img/content/imperial-park-rooms/IMG_8626-2.jpg", :rel  => "lightbox-rooms"}
      %img{:src  => "/img/content/imperial-park-hotel-rooms.jpg", :alt  => "Imperial Park Hotel rooms", :class  => "no-bm"}
    %div{:class => "detail"}
      %img{:src  => "/img/content/bell.png"}
        %p
          50 Standard Rooms and 20 Suites
  %div{:class  => "grid_5 omega featured-box"}
    %h2{:class  => "underline"}
      360&deg; View from the Hotel
    %a{:href  => "#"}
      %img{:src  => "/img/content/imperial-park-hotel-views.jpg",:class  => "no-bm"}
    %div{:class  => "detail"}
      %img{:src  => "/img/content/view.png"}
      %p
        See what we see: a 360-degree view of 9 de Julio Avenue
        %a{:href  => "http://360-bue.com.ar/iph",:target  => "_blank", :class  => "button"}
          360 View

= partial :rooms_images, :skip_translation  => true 
