%div{:id  => "hero",:class  => "grid_16"}
  %div{:class  => "info"}
    %h2
      Emperador & Emperatriz Function Rooms,
      %span
        %em
          the ideal choice for meetings
    %div{:class  => "section grid_6"}
      %p
        Fully equipped with latest audiovisual technology and Internet access. Also, a wide variety of food and beverage choices to suit your requirements. 
        (Maximum Capacity in conference: 35 People)
  %div{:id  => "slider"}
    %img{:src  => "/img/content/hero-images/events.jpg", :width  => "940", :heigth  => "371"}
= partial :bottom_content
