%div{:id  => "hero",:class  => "grid_16"}
  %div{:class  => "info"}
    %h2
      50 Standard Rooms
      %span
        %em
          and 20 suites
    %div{:class  => "section grid_6"}
      %p
        fully equipped with sommiers, LCD, cable TV, mini bar, placard and desk, WiFi connection, digital safety deposit boxes, double panel windows, radio alarm clock, air aconditioning (h/c). Amenities, hair dryer and magnetic keys.
  %div{:id  => "slider"}
    %img{:src  => "/img/content/hero-images/rooms.jpg", :width  => "940", :heigth  => "371"}
= partial :bottom_content
