%div{:id  => "hero",:class  => "grid_16"}
  %div{:class  => "info"}
    %h2
      Work out at any time
    %div{:class  => "section grid_6"}
      %p
        Our facilities and fitness equipment will help you keep up with your daily routine. 
  %div{:id  => "slider"}
    %img{:src  => "/img/content/hero-images/gym.jpg", :width  => "940", :heigth  => "371"}
= partial :bottom_content
