%link{ :rel => "stylesheet", :href => "/css/reset.css", :type  => "text/css" }
%link{ :rel => "stylesheet", :href => "/css/base.css", :type => "text/css" }
%link{ :rel => "stylesheet", :href => "/css/960.css", :type => "text/css" }
%link{ :rel => "stylesheet", :href => "/css/screen.css", :type => "text/css" }
%link{ :rel => "stylesheet", :href  => "/css/print.css", :type  => "text/css", :media  => "print" }
%link{ :rel => "stylesheet", :href => "/slimbox/css/slimbox2.css", :type => "text/css", :media => "screen" }
%link{ :rel => "home", :href => "/" }
%link{ :rel  => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Tinos:400,400italic|Bitter&subset=latin,latin-ext" }
%script{ :src => "http://code.jquery.com/jquery-1.4.2.min.js" }
%script{ :src => "/js/cycle.js" }
%script{ :src => "/slimbox/js/slimbox2.js" }

:javascript
  var _gaq = _gaq || []; 
  _gaq.push(['_setAccount', 'UA-2141835-47'], 
    ['_setDomainName','imperialparkhotel.com'], 
    ['_setAllowLinker', true], 
    ['_trackPageview'], 
    ['b._setAccount', 'UA-28336678-1'], 
    ['b._trackPageview'] 
  ); 

  (function() { 
    var ga =  
    document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); 
  })(); 


