%div{:id  => "hero", :class  => "grid_16"}
  %div{:class  => "info"}
    %h2
      An European style hotel 
      %span
        %em
          in the heart of the city 
    %div{:class  => "section grid_6"}
      %p
        Overlooking the 9 de Julio Ave. our hotel is strategically located near the financial district and walking distance from the main city attractions. Our personalized service and cozy staff will make your stay enjoyable whether you travel for business or for pleasure.  
      %p
        %a{:class  => "reservation-button", :href  => "http://reservations.directwithhotels.com/reservation/selectDates/12871", :target  => "_blank"}
          RESERVE NOW
  %div{:id  => "slider"}
    %img{:src  => "/img/content/imperial-park-hotel-lounge.jpg",:alt => "Imperial Park Hotel lounge",:width => "940",:height => "371"}
    %img{:src  => "/img/content/imperial-park-hotel-building.jpg", :alt => "Imperial Park Hotel building", :width => "940",:height => "371"}
    %img{:src  => "/img/content/imperial-park-hotel-entrance.jpg", :alt => "Imperial Park Hotel entrance",:width => "940", :height => "371"}
    %img{:src  => "/img/content/imperial-park-hotel-buenos-aires.jpg",:alt => "Imperial Park Hotel Buenos Aires",:width => "940", :height => "371"}


= partial :bottom_content

:javascript
  $(document).ready(function(){
    $('#hero #slider').cycle({ 
      fx:     'fade', 
      speed:  '950', 
      timeout: 6000 
    });  
  });


