%ul{:class  => "main nav grid_16 alpha omega"}
  %li{:class  => "current"}
    %a{:src  => "#"} GUEST ROOMS
    |
  %li
    %a{:src  => "#"} COFFEE LOUNGE
    |
  %li
    %a{:src  => "#"} 101 RESTAURANT
    |
  %li
    %a{:src  => "#"} LOBBY-PIANO BAR
    |
  %li
    %a{:src  => "#"} GYM
    |
  %li
    %a{:src  => "#"} EVENTS
    |
  %li
    %a{:src  => "#"} SERVICES
    |
  %li
    %a{:src  => "#"} LOCATION

