%ul{:class  => "main nav grid_16 alpha omega"}
  %li{:class  => "current"}
    %a{:src  => "#"} HABITACIONES
    |
  %li
    %a{:src  => "#"} COFFEE LOUNGE
    |
  %li
    %a{:src  => "#"} 101 RESTAURANT
    |
  %li
    %a{:src  => "#"} LOBBY-PIANO BAR
    |
  %li
    %a{:src  => "#"} GIMNASIO
    |
  %li
    %a{:src  => "#"} EVENTOS
    |
  %li
    %a{:src  => "#"} SERVICIOS
    |
  %li
    %a{:src  => "#"} UBICACION

