%div{:id  => "hero",:class  => "grid_16"}
  %div{:class  => "info"}
    %h2
      International Cuisine 
      %span
        %em
          influenced by our country´s
    %div{:class  => "section grid_6"}
      %p
        special flavors and the best view of the 9 the July Ave. Executive and á la carte menus  plus  a selection of our best wines.
  %div{:id  => "slider"}
    %img{:src  => "/img/content/hero-images/restaurant.jpg", :width  => "940", :heigth  => "371"}
= partial :bottom_content
