%div{:style  => "display: none;"}
  %a{:href  => "/img/content/imperial-park-rooms/IMG_8635.jpg", :rel  => "lightbox-rooms"}
  %a{:href  => "/img/content/imperial-park-rooms/IMG_8650.jpg", :rel  => "lightbox-rooms"}
  %a{:href  => "/img/content/imperial-park-rooms/IMG_8679.jpg", :rel  => "lightbox-rooms"}
  %a{:href  => "/img/content/imperial-park-rooms/IMG_8680.jpg", :rel  => "lightbox-rooms"}
  %a{:href  => "/img/content/imperial-park-rooms/IMG_8778.jpg", :rel  => "lightbox-rooms"}
  %a{:href  => "/img/content/imperial-park-rooms/IMG_8785.jpg", :rel  => "lightbox-rooms"}

