%div{:style  => "display: none;"}
  %a{:href  => "/images/imperial-park-rooms/HABITACION DELUXE/DELUXE.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Deluxe</h2>"}
  %a{:href  => "/images/imperial-park-rooms/HABITACION DELUXE/BAÑO.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Deluxe bath</h2>"}
  %a{:href  => "/images/imperial-park-rooms/JUNIOR SUITE/JUNIOR SUITE.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Junior Suite</h2>"}
  %a{:href  => "/images/imperial-park-rooms/JUNIOR SUITE/JUNIOR SUITE BAÑO.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Junior Suite bathroom</h2>"}
  %a{:href  => "/images/imperial-park-rooms/S EJECUTIVA/LIVING MIRACELLO 1.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Executive Suite</h2>"}
  %a{:href  => "/images/imperial-park-rooms/S EJECUTIVA/LIVING MIRACELLO 2.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Executive Suite</h2>"}
  %a{:href  => "/images/imperial-park-rooms/S EJECUTIVA/MIRACELLO.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Executive Suite</h2>"}
  %a{:href  => "/images/imperial-park-rooms/STANDARD MATRIMONIAL/STD MAT.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Standard matrimonial</h2>"}
  %a{:href  => "/images/imperial-park-rooms/STANDARD TWIN/HBT DBL TWN.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Standard twin</h2>"}
  %a{:href  => "/images/imperial-park-rooms/SUITE NUPCIAL/NOCHE DE BODA.jpg", :rel  => "lightbox-rooms", :title  => "<h2>Wedding Suite</h2>"}

