%div{:id  => "hero",:class  => "grid_16"}
  %div{:class  => "info"}
    %h2
      Servicios para el huésped
      %span
        %em
          sin cargo
    %div{:class  => "section grid_6"}
      %p
        Desayuno Buffet - Centro de Negocios - Gimnasio - Caja de seguridad - Servicio de tapas Gourmet  en lobby bar todos los Dias de 5 pm a 8 pm.
  %div{:id  => "slider"}
    %img{:src  => "/img/content/hero-images/services.jpg", :width  => "940", :heigth  => "371"}
= partial :bottom_content
