#top-bar
  %ul{:class => "social-nav nav"}
    %li
      = link_to("English", current_path(:lang  => "en"))
      &nbsp;· &nbsp;
    %li
      Seguinos &nbsp;
      %a{ :href  => "#", :class  => "twitter-icon"}
        %img{ :src  => "/img/content/twitter-icon.png", :alt  => "Twitter"}
      %span{:class  => "hidden"},
      %a{ :href  => "#", :class  => "facebook-icon"}
        %img{ :src  => "/img/content/facebook-icon.png", :alt  => "facebook" }
  %p{:class  => "tel to-right"} Tel.(5411) 4383-0555

